:root {
  --font-family-main: "Roboto", sans-serif;
  --font-size-xl: 2rem;
  --font-line-xl: 2.5rem;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  --font-size-lg: 1.5rem;
  --font-line-lg: 2rem;
  --font-lg: var(--font-size-lg) / var(--font-line-lg) var(--font-family-main);
  --font-size-base: 1.125rem;
  --font-line-base: 1.625rem;
  --font-base: var(--font-size-base) / var(--font-line-base)
    var(--font-family-main);
  --font-size-md: 1rem;
  --font-line-md: 1.5rem;
  --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family-main);
  --font-size-sm: 0.875rem;
  --font-line-sm: 1.25rem;
  --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);
  --font-size-xs: 0.75rem;
  --font-line-xs: 1.125rem;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.625rem;
  --spacing-4: 0.75rem;
  --spacing-5: 1rem;
  --spacing-6: 1.25rem;
  --spacing-7: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;

  --white: #fff;
  --black: #000;

  --gray-50: #f8f7f8;
  --gray-100: #f0eef0;
  --gray-200: #dddadd;
  --gray-300: #bfb9c8;
  --gray-400: #9c939d;
  --gray-500: #807681;
  --gray-600: #686069;
  --gray-700: #494349;
  --gray-800: #3e3b3f;

  --green-50: #f5fbf5;
  --green-500: #117e11;

  --red-50: #f9e9e9;
  --red-500: #b81e1e;

  --yellow-50: #f8f8e9;
  --yellow-500: #b8bb23;
}
