:root {
  --font-family-main: "Roboto", sans-serif;
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  --font-size-lg: 24px;
  --font-line-lg: 32px;
  --font-lg: var(--font-size-lg) / var(--font-line-lg) var(--font-family-main);
  --font-size-base: 18px;
  --font-line-base: 26px;
  --font-base: var(--font-size-base) / var(--font-line-base)
    var(--font-family-main);
  --font-size-md: 16px;
  --font-line-md: 24px;
  --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family-main);
  --font-size-sm: 14px;
  --font-line-sm: 20px;
  --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);
  --font-size-xs: 12px;
  --font-line-xs: 18px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

  --white: #fff;
  --black: #000;

  --gray-50: #f8f7f8;
  --gray-100: #f0eef0;
  --gray-200: #dddadd;
  --gray-300: #bfb9c8;
  --gray-400: #9c939d;
  --gray-500: #807681;
  --gray-600: #686069;
  --gray-700: #494349;
  --gray-800: #3e3b3f;

  --green-50: #f5fbf5;
  --green-500: #117e11;

  --red-50: #f9e9e9;
  --red-500: #b81e1e;

  --yellow-50: #f8f8e9;
  --yellow-500: #b8bb23;
}
