.wrapper {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: var(--gray-800);
  font: var(--font-lg);
  font-weight: 700;
}
