.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: all 0.2s linear;
  color: var(--black);
  outline: none;
}

.primary {
  background-color: var(--primary-color);
  color: var(--white);

  svg {
    fill: var(--white);
  }

  &:hover {
    background-color: var(--primary-color-dark);
  }
}

.secondary {
  background-color: var(--white);
  border: 1px solid var(--gray-100);

  &:hover {
    border-color: var(--primary-color);
  }
}

.tertiary {
  background-color: var(--white);
  border: 1px solid var(--gray-100);

  &:hover {
    background-color: var(--gray-50);
    border-color: var(--gray-200);
  }
}

.outline {
  background-color: var(--white);
  border: 1px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-color-light);
    border-color: var(--primary-color-dark);
  }

  &:disabled {
    border-color: var(--gray-200);
  }
}

.ghost {
  background-color: transparent;
  border: none;
  padding: 0;
  font-weight: 500;
}

.disabled {
  color: var(--gray-400);
  background-color: var(--gray-100);
  pointer-events: none;

  svg {
    fill: var(--gray-400);
  }
}

.pill {
  border-radius: 40px;
}

.circle {
  border-radius: 100%;
  aspect-ratio: 1;
}

.xs {
  padding: var(--spacing-2) var(--spacing-5);
  font: var(--font-xs);

  svg {
    height: 16px;
    width: 16px;
  }

  &.circle {
    padding: var(--spacing-2);
  }
}

.sm {
  padding: var(--spacing-3) var(--spacing-6);
  font: var(--font-sm);

  svg {
    height: 20px;
    width: 20px;
  }

  &.circle {
    padding: var(--spacing-3);
  }
}

.md {
  padding: var(--spacing-4) var(--spacing-7);
  font: var(--font-md);

  svg {
    height: 20px;
    width: 20px;
  }

  &.circle {
    padding: var(--spacing-4);
  }
}

.lg {
  padding: var(--spacing-5) var(--spacing-8);
  font: var(--font-lg);

  svg {
    height: 24px;
    width: 24px;
  }

  &.circle {
    padding: var(--spacing-5);
  }
}

.xs,
.sm,
.md,
.lg {
  font-weight: 600;
}
