.wrapper {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 450px;
  text-align: center;
}

.icon {
  fill: var(--primary-color);
}

.title {
  color: var(--primary-color);
  font: var(--font-xl);
  font-weight: 700;
}

.description {
  font: var(--font-base);
  color: var(--gray-700);
  font-weight: 600;
  margin: var(--spacing-5) 0 var(--spacing-8);
}

.button {
  width: 100%;
}
