.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--gray-50);
  padding: var(--spacing-3) calc(var(--spacing-3) * 8);
  display: flex;
  width: 100%;
}

.section {
  flex: 1;
  width: 33%;
  display: flex;
  align-items: center;
  gap: 20px;

  &:last-child {
    justify-content: end;
  }
}

.logo {
  fill: var(--primary-color);
}
